@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.govukfrontend.views.html.components.GovukCheckboxes
@import uk.gov.hmrc.govukfrontend.views.html.components.{GovukCheckboxes, Checkboxes, CheckboxItem, Fieldset, Legend, Hint, Text}
@import uk.gov.hmrc.govukfrontend.views.html.components.implicits._

@this(govukCheckboxes: GovukCheckboxes)

@(
field: Field,
legend: String,
legendClass: Option[String] = None,
hint: Option[String] = None,
headingIsLegend: Boolean = true,
inputs: Seq[CheckboxItem]
)(implicit messages: Messages)

@govukCheckboxes(Checkboxes(
    name = field.name.toString,
    fieldset = Some(Fieldset(
        legend = Some(Legend(
            content = Text(legend),
            classes = legendClass.getOrElse("govuk-fieldset__legend--xl"),
            isPageHeading = headingIsLegend
        ))
    )),
    hint = if(hint.isDefined) Some(Hint(content = Text(hint.get))) else None,
    items = inputs
).withFormField(field))
