.govuk-body-l, .govuk-body-lead {
  color: #0b0c0c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11111;
  margin-top: 0;
  margin-bottom: 20px;
}

@media (min-width: 40.0625em){
  .govuk-body-l, .govuk-body-lead {
    margin-bottom: 30px;
  }
}

@media (min-width: 40.0625em){
  .govuk-body-l, .govuk-body-lead {
    font-size: 24px;
    line-height: 1.25;
  }
}

.govuk-body-m + .govuk-heading-l, .govuk-body + .govuk-heading-l, p + .govuk-heading-l, .govuk-body-s + .govuk-heading-l, .govuk-list + .govuk-heading-l {
  padding-top: 15px;
}

.govuk-heading-l {
  color: #0b0c0c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.04167;
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
}


@media (min-width: 40.0625em){
  .govuk-heading-l {
    margin-bottom: 30px;
  }
}

@media (min-width: 40.0625em){
  .govuk-heading-l {
    font-size: 36px;
    line-height: 1.11111;
  }
}

.govuk-heading-s {
  color: #0b0c0c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  display: block;
  margin-top: 0;
  margin-bottom: 15px;
}

@media (min-width: 40.0625em){
  .govuk-heading-s {
    margin-bottom: 20px;
  }
}

@media (min-width: 40.0625em){
  .govuk-heading-s {
    font-size: 19px;
    line-height: 1.31579;
  }
}

.govuk-heading-m {
  color: #0b0c0c;
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11111;
  display: block;
  margin-top: 0;
  margin-bottom: 15px;
}

@media (min-width: 40.0625em){
  .govuk-heading-m {
    margin-bottom: 20px;
  }
}

@media (min-width: 40.0625em){
  .govuk-heading-m {
    font-size: 24px;
    line-height: 1.25;
  }
}
