/*
Taken to preserve existing behaviour on the track page
Link Style
Make a button appear like a link
Markup:
<button class="button--link-style">Button text</button>
Styleguide Buttons.Link Style

Ideally, these buttons should be changed into links but they are currently forms with a POST request
*/

.button--link-style {
  @extend .govuk-link;
  background: none;
  box-shadow: none;
  color: $govuk-link-colour;
  border-width: 0;
  padding-left:0;
  padding-right:0;

  &:hover {
    color: $govuk-link-hover-colour;
  }

  &:focus {
    outline: 3px solid transparent;
    color: $govuk-link-active-colour;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
  }

  &:active {
    background: none;
  }
}


// for the invitation sent url
.word-wrap {
  white-space: pre-line;
  word-wrap: break-word;
  word-break: break-all;
}


//track page pagination styles
.pager-items {
  float: right;
  margin: 0;
  display: flex;
}

.pager-items li {
  border-right: 1px solid #ddd;
  list-style-type: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: 0.8em;

  &.selected-pagination-item {
    padding: 7px 14px;

    &:hover {
      background-color: transparent;
      cursor: default;
    }
  }

  &:first-child {
    border-left: 1px solid #ddd;
  }

  &:hover {
    background-color: lightgrey;
    cursor: pointer;
  }

  a {
    display: inline-block;
    padding: 7px 14px;
    text-decoration: none;
  }
}


// track page hint
.supplementary-information {
  display: block;
  font-size: 0.85em;
  color: $govuk-secondary-text-colour;
}

