/*
Taken to preserve existing behaviour on the track page
Link Style
Make a button appear like a link
Markup:
<button class="button--link-style">Button text</button>
Styleguide Buttons.Link Style
*/

.button--link-style {
  @extend .govuk-link;
  background: none;
  box-shadow: none;

  &:hover,
  &:focus,
  &:active {
    background: none;
  }
}


// for the invitation sent url
.word-wrap {
    white-space: pre-line;
    word-wrap: break-word;
    word-break: break-all;
}


//track page pagination styles
.pager-items {
    float: right;
    margin: 0;
    display: flex;
}
.pager-items li {
    border-right: 1px solid #ddd;
    list-style-type: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 0.8em;
}

.pager-items li.selected-pagination-item {
    padding: 7px 14px;
}

.pager-items li a {
    display: inline-block;
    padding: 7px 14px;
}

.pager-items li:first-child {
    border-left: 1px solid #ddd;
}

.pager-items li:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.pager-items li.selected-pagination-item:hover {
    background-color: transparent;
    cursor: default;
}