#form-date {
  margin-bottom: 30px;
}

.no-js .form-date .form-field--error {
  border-left: none;
  padding: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  padding: inherit;
}

.date-fields-error .form-group.soft--ends {
  border-left: 5px solid #d4351c;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .63158em .84211em .63158em .84211em;
}

.day-field-error .form-group-day input,
.date-field-errors-all .form-group-day input {
  border: 4px solid #d4351c;
}

.month-field-error .form-group-month input,
.date-field-errors-all .form-group-month input {
  border: 4px solid #d4351c;
}

.year-field-error .form-group-year input,
.date-field-errors-all .form-group-year input {
  border: 4px solid #d4351c;
}

.no-js .nojs-date-fields-error .form-group.soft--ends {
  border-left: 3px solid #df3034;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .63158em .84211em .63158em .84211em;
}

.no-js .nojs-date-fields-error .error-notification {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.form-field--error .form-date .form-field--error {
  border-left: none;
  padding: inherit;
}
