
.govuk-radios--inline.govuk-radios--conditional .govuk-radios__item {
  margin-right: 0;
  float: none
}

.govuk-radios__conditional {
  margin-bottom: 15px;
  margin-left: 18px;
  padding-left: 33px;
  border-left: 4px solid #b1b4b6
}

@media (min-width: 40.0625em) {
  .govuk-radios__conditional {
    margin-bottom: 20px
  }
}

.js-enabled .govuk-radios__conditional--hidden {
  display: none
}

.govuk-radios__conditional > :last-child {
  margin-bottom: 0
}
