
.app-task-list__section-number {
  padding-right: 10px;
}

.app-task-list__items {
  padding-left: 22px;
}

@media (min-width: 48.0625em) {
  .app-task-list__items {
    padding-left: 30px;
  }
}

.app-task-list__item:first-child {
  border-top: 1px solid #bfc1c3;
}

.app-task-list__item {
  border-bottom: 1px solid #bfc1c3;
  margin-bottom: 0 !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.app-task-list__item:after {
  content: "";
  display: block;
  clear: both;
}

.app-task-list__name {
  display: block;
  float: left;
  width: 75%;
}

.app-task-list__task-completed {
  float: right;
  margin-top: 0;
  margin-bottom: 0;
}
