.padding-0{
    padding-top: 0;
    padding-bottom: 0;
}

.margin-top-0 {
    margin-top: 0px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-top-40 {
    margin-top: 40px !important;
}

.margin-top-50 {
    margin-top: 50px !important;
}

.margin-top-60 {
    margin-top: 60px !important;
}

.margin-bottom-0 {
    margin-bottom: 0px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.margin-bottom-40 {
    margin-bottom: 40px !important;
}

.margin-bottom-60 {
    margin-bottom: 60px !important;
}

.margin-right-5 {
    margin-right: 5px !important;
}

.full-width {
    width: 100% !important;
}

.bold {
    font-weight: bold !important;
}

.normal-text {
    color: #0b0c0c !important;
}

.text-small .button--link-style,
.text-small thead tr th,
.text-small tbody tr td {
    font-size: 16.15px !important;
}

.text-small .button--link-style {
    text-align: left;
}

.text-link-small {
    font-size: 0.85em
}

.form-field--error .form-date .form-field--error {
    border-left: none;
    padding: inherit;
}

.form-field--error legend .heading-large {
    margin-top: 0px !important;
}

.margin-left-0 {
    margin-left: 0 !important
}

.supplementary-information {
    display: block;
    font-size: 0.85em;
    color: #6f777b;
}

caption.caption-normal {
    font-weight: normal;
    text-align: left;
}

/* no js style for dates */
.no-js .form-date .form-field--error {
    border-left: none;
    padding: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    padding: inherit;
}

.no-js .nojs-date-fields-error .form-group.soft--ends {
    border-left: 3px solid #df3034;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: .63158em .84211em .63158em .84211em;
}

.no-js .nojs-date-fields-error .error-notification {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.nojs-date-fields-error input {
    border: 4px solid #d4351c;
}

.nojs-date-fields-error input:focus{
    border: 2px solid black;
}

.error-container {
    padding-top: 0;
    padding-bottom: 0
}

/*IE10 Fix for DetailsPloyFill*/
.no-details details summary .arrow-open,
.no-details details summary .arrow-closed {
    display: none;
}

/* form overrides */

.flash.error-summary {
    border: 5px solid #d4351c;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 15px 15px;
}

.flash.error-summary a {
    font-weight: bold;
}

#error-summary-heading {
    font-size: 24px;
}

.form-field--error .error-notification {
    font-weight: bold;
    font-size: 19px;
    line-height: 1.31579;
    color: #d4351c;
}

.form-field--error {
    border-left: 5px solid #d4351c;
    padding-left: 15px;
    margin-right: 15px;
}

.form-field--error input[type="text"] {
    border: 4px solid #d4351c;
    height: 40px;
}

.form-field--error select {
    border: 4px solid #d4351c;
    height: 40px;
}

.flash.error-summary a, .flash.error-summary .link-style, .flash.error-summary .button--link-style {
    color: #d4351c;
}

.form-field--error legend h1 {
    margin-top: 0 !important
}

.div-underline {
    border-bottom: 1px solid #9a9a9a;
}

fieldset .div-underline:last-child {
    border-bottom: none;
}

.checkbox-heading {
    margin-top: -5px;
    display: inline-block;
}

.govuk-visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    border: 0 !important;
    white-space: nowrap !important;
}

.hint-text {
    color: #505A5F;
}

.form-hint {
    color: #505A5F;
}

#confirmDecline h2 {
    margin-top: 30px;
}

.govuk-radios--inline .multiple-choice {
    float: left;
    clear: none;
    margin-right: 20px;

}

.column-20 {
    width: 20%;
}

.column-22 {
    width: 22%;
}

.column-28 {
    width: 28%;
}

.column-30 {
    width: 30%;
}

.context {
    color: #6f777b;
    display: block;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
}

.sr-only {
    position: absolute;
    height: 1px;
    width: 1px;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    overflow: hidden !important;
}

.table-cell {
    font-size: inherit;
    border-bottom: 1px solid #bfc1c3;
    padding: .63158em 1.05263em .47368em 0;
    min-height: 30px;
    white-space: nowrap;
    vertical-align: middle;
}

.table-head .table-cell {
    border-top: 1px solid #bfc1c3;
}

.table-head, .table-head .table-row {
    display: none;
}

.table-cell.accepted {
    display: none
}

.table-row {
    margin-bottom: 30px;
}

.app-check-your-answers__change {
    margin-bottom: 20px;
}

details .panel[aria-hidden=true] a {
    display: none; /* Accessibility requirement - Aria hidden elements do not contain focusable elements */
}

@media (min-width: 641px) and (max-width: 768px){

    h3.context, .table-cell span {
         font-weight: 400;
         font-size: 19px;
         line-height: 25px;
         margin-top: 0;
         margin-bottom: 0;
    }
}

@media (min-width: 768px) {

    .app-check-your-answers__change {
        text-align: right;
        margin-bottom: 0;
    }

    .table {
        display: table;
        width: 100%;
        margin-bottom: 30px;
    }

    .table-header {
        display: table-row;
    }

    .table-head, .table-head .table-row {
        display: table-row;
    }

    .table-head .table-cell {
        font-weight: 700;
    }

    .context {
        position: absolute;
        height: 1px;
        width: 1px;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
        -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
        overflow: hidden !important;
    }

    .table-row:last-child .table-cell {
        border-bottom: none;
    }

    .table-cell {
        display: table-cell;
        min-height: auto;
        white-space: normal;
        font-size: 16.5px;
    }

    .table-row {
        display: table-row;
        padding-bottom: 0;
        margin-bottom: 30px;
    }

    .table-cell.accepted {
        display: table-cell;
    }

    .table-row {
        margin-bottom: 0;
    }
}

.js-enabled .autocomplete-wrapper select{
    visibility: hidden;
}
input[type="text"].autocomplete__input {
    width: 100%
}
.autocomplete-wrapper {
    width: 100%
}
@media (min-width: 48.0625em) {
    .autocomplete-wrapper #countryCode {
        width: 50%
    }
    .autocomplete-wrapper #client {
        width: 100%
    }
}

//track page pagination styles
.pager-items {
    float: right;
    margin: 0;
    display: flex;
}
.pager-items li {
    border-right: 1px solid #ddd;
    list-style-type: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 0.8em;
}

.pager-items li.selected-pagination-item {
    padding: 7px 14px;
}

.pager-items li a {
    display: inline-block;
    padding: 7px 14px;
}

.pager-items li:first-child {
    border-left: 1px solid #ddd;
}

.pager-items li:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.pager-items li.selected-pagination-item:hover {
    background-color: transparent;
    cursor: default;
}

.list-bullets {
    padding-left: 20px;
    list-style-type: disc;
}


.govuk-warning-text__text {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: #0b0c0c;
    display: block;
    padding-left: 45px;
}

@media (min-width: 641px) {
    .govuk-warning-text__text {
        font-size: 19px;
        line-height: 1.31579;
    }
}

.govuk-warning-text__icon {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    left: 0;
    min-width: 35px;
    min-height: 35px;
    margin-top: -7px;
    border: 3px solid #0b0c0c;
    border-radius: 50%;
    color: #ffffff;
    background: #0b0c0c;
    font-size: 30px;
    line-height: 29px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 641px) {
    .govuk-warning-text__icon {
        margin-top: -5px;
    }
}

.govuk-warning-text {
    position: relative;
    margin-bottom: 20px;
    padding: 10px 0;
}

@media (min-width: 641px) {
    .govuk-warning-text {
        margin-bottom: 30px;
    }
}

.word-wrap {
    white-space: pre-line;
    word-wrap: break-word;
    word-break: break-all;
}
    @import 'partials/accessible-autocomplete.min';
    @import 'partials/_dateFields';
    @import 'partials/_checkAnswers';
    @import 'partials/_taskList';
    @import 'partials/_accessibleAutocomplete';
    @import 'partials/_accessibilityStatement';
    @import 'partials/govuk_radios';

