#error-summary-display:focus{
    outline: 3px solid #ffbf47;
}

.margin-top-30 {
    margin-top: 30px !important;
}
.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.margin-bottom-40 {
    margin-bottom: 40px !important;
}

.normal-text {
    color: #0b0c0c !important;
}

.form-field--error .form-date .form-field--error{
    border-left: none;
    padding: inherit;
}

.margin-left-0 {
    margin-left: 0 !important
}

.supplementary-information {
    display: block;
    font-size: 0.85em;
    color: #6f777b;
}
caption.caption-normal{
    font-weight: normal;
    text-align: left;
}
